<p>
    {{ page.title }} ვებ-ფონტის დამატება თქვენს პროექტში <a href="http://bower.io/" target="_blank" rel="nofollow">Bower</a>-ის საშუალებით ძალიან მარტივია. ამისათვის საჭიროა შემდეგი საფეხურების გავლა:
</p>

<p>
    1. პროექტის დირექტორიიდან ტერმინალში გამოიძახეთ შემდეგი ბრძანება:
</p>

{% highlight bash %}bower install {{ page.title | slugify }} --save{% endhighlight %}

<p>
    2. ჩასვით ქვემოთ მოცემული კოდი HTML-ში, <code>&lt;head&gt;...&lt;/head&gt;</code> ტეგებს შორის:
</p>

{% highlight html %}<link rel="stylesheet" href="/bower_components/{{ page.title | slugify }}/css/{{ page.title | slugify }}.min.css">{% endhighlight %}

{% include font/css.html %}