<hr class="uk-margin-medium"/>

<h2><i class="uk-icon-desktop"></i> დესკტოპ ბრაუზერების მხარდაჭერა</h2>

<table class="uk-table uk-table-middle uk-table-fixed uk-table-striped uk-table-bordered">
    <thead>
    <tr>
        <th><i class="uk-icon-chrome"></i> <span class="uk-hidden-small">Chrome</span></th>
        <th><i class="uk-icon-safari"></i> <span class="uk-hidden-small">Safari</span></th>
        <th><i class="uk-icon-firefox"></i> <span class="uk-hidden-small">Firefox</span></th>
        <th><i class="uk-icon-opera"></i> <span class="uk-hidden-small">Opera</span></th>
        <th><i class="uk-icon-internet-explorer"></i> <span class="uk-hidden-small">IE</span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>3.5+</td>
        <td>3+</td>
        <td>3.5+</td>
        <td>10.1+</td>
        <td>6+</td>
    </tr>
    </tbody>
</table>

<hr class="uk-margin-medium"/>

<h2><i class="uk-icon-mobile uk-icon-medium"></i> მობილური ბრაუზერების მხარდაჭერა</h2>

<table class="uk-table uk-table-middle uk-table-fixed uk-table-striped uk-table-bordered">
    <thead>
    <tr>
        <th><i class="uk-icon-internet-explorer"></i> <span class="uk-hidden-small">IE Mobile</span></th>
        <th><i class="uk-icon-android"></i> <span class="uk-hidden-small">Android Browser</span></th>
        <th><i class="uk-icon-opera"></i> <span class="uk-hidden-small">Opera Mobile</span></th>
        <th><i class="uk-icon-chrome"></i> <i class="uk-icon-android"></i> <span class="uk-hidden-small">Chrome For Android</span></th>
        <th><i class="uk-icon-firefox"></i> <i class="uk-icon-android"></i> <span class="uk-hidden-small">Firefox For Android</span></th>
        <th><i class="uk-icon-apple"></i> <span class="uk-hidden-small">iOS Safari</span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>10+</td>
        <td>2.2+</td>
        <td>12+</td>
        <td>44+</td>
        <td>40+</td>
        <td>4.3+</td>
    </tr>
    </tbody>
</table>

<hr class="uk-margin-large"/>

<p>
    სტატისტიკა ბრაუზერების შესახებ აღებულია <a href="http://caniuse.com/" rel="nofollow" target="_blank">caniuse.com</a>-დან.
</p>