<div class="uk-alert uk-alert-warning">
    <p>
        <i class="uk-icon-warning"></i> გთხოვთ,
        <a href="https://en.wikipedia.org/wiki/Content_delivery_network" target="_blank" rel="nofollow">CDN</a>-ით ისარგებლოთ მხოლოდ ტესტირების დროს.
    </p>
    <p>თქვენს პროექტში ფონტის დასამატებლად გამოიყენეთ <a class="show-tab" href="#tab-bower">Bower</a>-ით ან <a class="show-tab" href="#tab-npm">NPM</a>-ით დაყენების მეთოდი.</p>
</div>

<p>
    1. ჩასვით ქვემოთ მოცემული კოდი HTML-ში, <code>&lt;head&gt;...&lt;/head&gt;</code> ტეგებს შორის:
</p>

{% highlight html %}<link rel="stylesheet" href="//cdn.web-fonts.ge/fonts/{{ page.title | slugify }}/css/{{ page.title | slugify }}.min.css">{% endhighlight %}

<p>
    ან CSS ფაილის დასაწყისში ჩაამატეთ შემდეგი კოდი:
</p>

{% highlight css %}@import url("//cdn.web-fonts.ge/fonts/{{ page.title | slugify }}/css/{{ page.title | slugify }}.min.css");{% endhighlight %}

<p>
    2. CSS-ში, თქვენთვის სასურველ სელექტორს დაუმატეთ შემდეგი პარამეტრი:
</p>

{% highlight css %}font-family: "{{ page.title }}", sans-serif;{% endhighlight %}