<p>
    {{ page.title }} ვებ-ფონტის დამატება თქვენს პროექტში რეკომენდირებულია <a class="show-tab" href="#tab-bower">Bower</a>-ის ან <a class="show-tab" href="#tab-npm">NPM</a>-ის საშუალებით, თუმცა მისი ხელით დამატებაც არ წარმოადგენს პრობლემას.
</p>

<p>
    <a href="https://github.com/web-fonts/{{ page.title | slugify }}/archive/master.zip" class="uk-button uk-button-primary"><i class="uk-icon-download"></i> გადმოწერეთ {{ page.title }} ვებ-ფონტის არქივი</a>
</p>

<p>
    1. არქივიდან ფაილების ამოღების შემდეგ დააკოპირეთ <code>/css/</code> და <code>/fonts/</code> ფოლდერები და ჩასვით თქვენს პროექტში.
</p>

<p>
    2. ჩასვით ქვემოთ მოცემული კოდი HTML-ში, <code>&lt;head&gt;...&lt;/head&gt;</code> ტეგებს შორის:
</p>

{% highlight html %}<link rel="stylesheet" href="/path/to/{{ page.title | slugify }}.min.css">{% endhighlight %}

<p class="uk-alert uk-alert-warning">
   <i class="uk-icon-warning"></i> ყურადღება! არ დაგავიწყდეთ <code>/path/to/</code> დირექტორიის შეცვლა!
</p>

{% include font/css.html %}