<ul class="uk-tab" id="font-tabs" data-uk-tab="{connect: '#tabs'}">
    <li class="uk-active"><a href="#"><i class="uk-icon-eye"></i> გადახედვა</a></li>
    <li id="tab-bower"><a href="#"><i class="uk-icon-terminal"></i> დაყენება Bower-ით</a></li>
    <li id="tab-npm"><a href="#"><i class="uk-icon-terminal"></i> დაყენება NPM-ით</a></li>
    <li><a href="#"><i class="uk-icon-download"></i> დაყენება ხელით</a></li>
    <li><a href="#"><i class="uk-icon-at"></i> სიმბოლოები</a></li>
    <li><a href="#"><i class="uk-icon-internet-explorer"></i> ბრაუზერების მხარდაჭერა</a></li>
</ul>