_site
.sass-cache
.idea
node_modules
npm-debug.log
bower_components/jquery
bower_components/web-fonts-all
bower_components/uikit/scss
bower_components/uikit/less
bower_components/uikit/js
bower_components/uikit/css/*
!bower_components/uikit/css/uikit.almost-flat.min.css
!bower_components
*bower.json
!/bower.json

bower_components/**/package.json
!/package.json

README.md
!/README.md