{% assign fonts_page = page.url | replace: 'index.html', '' | replace: '/', '' %}
{% for font in site.fonts %}{% if (font.url == page.url) or (fonts_page == 'fonts') %}
    <link rel="stylesheet" href="//cdn.web-fonts.ge/fonts/{{ font.title | slugify }}/css/{{ font.title | slugify }}.min.css"/>{% endif %}{% endfor %}

    <style>{% for font in site.fonts %}{% if (font.url == page.url) or (fonts_page == 'fonts') %}
        .ff-{{ font.title | slugify }} { font-family: '{{ font.title }}', sans-serif; }{% endif %}{% endfor %}
    </style>