<div class="uk-block uk-block-medium uk-block-secondary uk-contrast uk-footer">
    <div class="uk-container uk-text-center uk-container-center">

        <ul class="uk-subnav uk-subnav-line uk-flex-center">
            {% for item in site.data.navbar %}
            {% if item.visible %}
                <li class="{% if item.active == page.active %}uk-active{% endif %}"><a href="{{ item.url | prepend: site.baseurl }}">{{ item.name }}</a></li>
            {% endif %}
            {% endfor %}
            <li>
                <a href="//cdn.web-fonts.ge/" target="_blank">CDN</a>
            </li>
            <li>
                <a href="//github.com/web-fonts/ttf/archive/master.zip" download title="ყველა ფონტის ttf ფორმატში გადმოწერა">გადმოწერა</a>
            </li>
        </ul>

        <p class="uk-text-center uk-text-muted">
            პროექტის ავტორი: <a href="https://github.com/Landish" target="_blank">ლადო ლომიძე</a> | ვებ-ფონტები &copy; 2015-2017
        </p>
        
        <p class="uk-text-center uk-hidden-small">

            <!-- TOP.GE COUNTER CODE -->
            <script language="JavaScript" type="text/javascript" src="//counter.top.ge/cgi-bin/cod?100+102028"></script>
            <noscript>
                <a target="_top" href="http://counter.top.ge/cgi-bin/showtop?102028">
                    <img src="//counter.top.ge/cgi-bin/count?ID:102028+JS:false" border="0" alt="TOP.GE" /></a>
            </noscript>
            <!-- / END OF TOP.GE COUNTER CODE -->


        </p>

    </div>
</div>
