<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.url }}/dist/images/og_image-square.jpg" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image" content="{{ site.url }}/dist/images/og_image-large.jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace : 'index.html', '' }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="/bower_components/bpg-nateli/css/bpg-nateli.min.css">
    <link rel="stylesheet" href="/css/app.css">
    {% include css.html %}
    <script>
        var isFontsPage = {% if page.current == 'fonts' %}true{%else%}false{% endif %};
        var preview_text = "{{ site.preview_text }}";
        {% if page.active == 'fonts' %}var fonts = [{% for font in site.fonts %}"{{ font.title }}"{% if forloop.rindex0 > 0 %},{% endif %}{% endfor %}];{% endif %}
    </script>

</head>
