{% include search.html %}

<div class="uk-flex uk-flex-center">
  <ul id="filters" class="uk-subnav uk-subnav-pill">
    <li data-uk-filter="" class="uk-active"><a href="#"><i class="uk-icon-list"></i> ყველა</a></li>
    <li data-uk-filter="uppercase"><a href="#"><i class="uk-icon-text-height"></i> მთავრული</a></li>
    <li data-uk-filter="lowercase"><a href="#"><i class="uk-icon-text-width"></i> ნუსხური</a></li>
    {% for style in site.data.styles %}
    {% assign icons = style.icon | split: ',' %}
    <li data-uk-filter="{{ style.slug }}"><a href="#">{% for icon in icons %}<i class="{{ icon }}"></i>{% endfor %}  {{ style.name }}</a></li>
    {% endfor %}
  </ul>
</div>


<div class="uk-margin-large-top uk-hidden uk-width-4-5 uk-container-center" id="uk-search-no-results">
  <div class="uk-alert uk-alert-danger uk-alert-large uk-text-bold">
    სამწუხაროდ, ვებ-ფონტი მსგავსი სახელწოდებით ვერ მოიძებნა!
  </div>
</div>
