<!DOCTYPE html>
<html>

    {% include head.html %}

<body class="{% if (page.url contains 'fonts') or (page.url contains 'collections') %}uk-body-secondary{% endif %}">

    <div class="wrapper">

        {% include navbar.html %}

        <div class="{% unless page.active == 'home' %}uk-container uk-container-center uk-container-main{% endunless %}">

            {{ content }}

            <div class="uk-push"></div>
        </div>

    </div>

    {% include footer.html %}
    {% include scripts.html %}

</body>
</html>
