<div class="uk-block uk-block-large uk-block-muted uk-block-featured">
    <div class="uk-container uk-container-center uk-text-center">
        <div class="uk-grid uk-grid-divider">
            <div class="uk-width-medium-1-3 uk-width-small-1-1">
                <a href="https://github.com/web-fonts" rel="nofollow" target="_blank" class="uk-display-block uk-link">
                    <i class="uk-icon-github uk-icon-huge"></i>
                    <h2>Github</h2>
                    <p>ვებ-ფონტების გვერდი Github-ზე</p>
                </a>
                <hr class="uk-grid-divider uk-visible-small">
            </div>
            <div class="uk-width-medium-1-3 uk-width-small-1-1">
                <a href="https://github.com/web-fonts/web-fonts/issues/new" target="_blank" rel="nofollow" class="uk-display-block uk-link">
                    <i class="uk-icon-question-circle uk-icon-huge"></i>
                    <h2>დახმარება</h2>
                    <p>ტექნიკური დახმარების განყოფილება</p>
                </a>
                <hr class="uk-grid-divider uk-visible-small">
            </div>
            <div class="uk-width-medium-1-3 uk-width-small-1-1">
                <a href="/about/" class="uk-display-block uk-link">
                    <i class="uk-icon-info-circle uk-icon-huge"></i>
                    <h2>პროექტის შესახებ</h2>
                    <p>გაიგეთ მეტი ჩვენი პროექტის შესახებ</p>
                </a>
            </div>
        </div>
    </div>
</div>